{{ define "main" }}
{{ $headless := .Site.GetPage "/homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}
{{ $sections := cond .Site.BuildDrafts $sections (where $sections "Draft" "==" false) }}

  <main>
      {{ range $index, $val := $sections }}
      <div class="block">

      <div class="title" onclick="expandDiv({{$index}})">{{ .Title }}</div>
      <div id="div{{$index}}" class="hidden">
          <div class="text">
      {{ .Content }}
    </div>
</div>
</div><div class="line"></div>
      {{ end }}
  </main>
{{ end }}